.sign-up {
    padding-top: 30px;   
}


.sign-up ul > li {
    display: none;
}
    .sign-up ul > li.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 180px);
    }

    .sign-up ul > li.active * {
        margin: 10px 0;
    }

    .sign-up ul > li.active li {
        display: block;
    }
    
    .sign-up .buttons {
       text-align: center;
       display: block;
    }
        .sign-up button {
            margin-right: 10px!important;
        }