.updates .updates-list {
    margin: 40px 0 0;
}

.updates .total {
    font-size: 18px;
    font-weight: 300;
    margin: 30px 0 0;
    text-align: center;
}

.updates .total .no-items {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-30px);
}