li.bottom-menu-item {
    background-color: #fff;
    border: none;
    color: #666666;
    float: left;
    margin: 0;
    text-align: center;
    width: calc(100% / 3);
}
    li.bottom-menu-item .bottom-menu-item__icon {
        display: block;
        height: 23px;
        margin-bottom: 2px;
    }

    li.bottom-menu-item .bottom-menu-item__title {
        font-size: 12px;
        font-weight: 300;
        position: relative;
    }