@import 'styles/_colors';

body {
    margin: 0;
    background-color: #e6e6e6;
    color: #606060;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
a {
  color: #606060;
  display: block;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

.hidden {
  display: none!important;
}

.active-flex {
  display: flex!important;
}

ul, 
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100vh;
}

.no-margin {
  margin: 0;
}


.MuiButton-contained {
  background-color: $primary!important;
}

.MuiButton-textPrimary {
  color: $primary!important;
}