body {
  margin: 0;
  background-color: #e6e6e6;
  color: #606060;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #606060;
  display: block;
  text-decoration: none;
}

a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}